In [66]:
import pandas as pd 
import matplotlib.pyplot as plt
#from config import username, password
%matplotlib inline
#from sqlalchemy import create_engine
import numpy as np
import psycopg2

In [67]:
# connect to local database
from sqlalchemy import create_engine
engine = create_engine('postgres://postgres:Anika4113@localhost:5432/Employee_db')
connection = engine.connect()

In [68]:
salaries = pd.read_sql("SELECT * FROM salaries", connection)
salaries.head()

   emp_no  salary
0   10001   60117
1   10002   65828
2   10003   40006
3   10004   40054
4   10005   78228

In [69]:
# Query Table Titles in the the Database
titles = pd.read_sql("SELECT * FROM titles", connection)
titles.head()

  title_id               title
0    s0001               Staff
1    s0002        Senior Staff
2    e0001  Assistant Engineer
3    e0002            Engineer
4    e0003     Senior Engineer

In [70]:
employees_title_salary = pd.read_sql("SELECT e.emp_no, t.title, s.salary \
                         FROM employees e \
                         RIGHT JOIN titles t\
                         ON (e.emp_no = t.title_id)\
                         RIGHT JOIN salaries s\
                         ON (t.title_id = s.emp_no)", connection)
employees_title_salary.head()

ProgrammingError: (psycopg2.errors.UndefinedFunction) operator does not exist: integer = character varying
LINE 1: ...OIN titles t                         ON (e.emp_no = t.title_...
                                                             ^
HINT:  No operator matches the given name and argument types. You might need to add explicit type casts.

[SQL: SELECT e.emp_no, t.title, s.salary                          FROM employees e                          RIGHT JOIN titles t                         ON (e.emp_no = t.title_id)                         RIGHT JOIN salaries s                         ON (t.title_id = s.emp_no)]
(Background on this error at: http://sqlalche.me/e/f405)

In [ ]:
# Create a DataFrame with the average salary for each title. 
avg_salary_each_title = pd.DataFrame(employees_title_salary.groupby(["title"]).mean()["salary"]).reset_index()

In [ ]:
plt.bar(np.arange(len(avg_salary_each_title)), avg_salary_each_title.salary, align = "center")
plt.xticks([lable for lable in np.arange(len(avg_salary_each_title))], avg_salary_each_title["title"],
           rotation = 25)
plt.title("Average Salary for Each Title")
plt.xlabel("Titles")
plt.ylabel("Average salaries")